<body class="body-choice-chat">
  <a href="{% url 'main' %}"><h3>Главная</h3></a>
  {% for room in rooms %}
    <h2><a href="{% url 'room' room.name %}">Room: {{ room.name }}</a></h2>
    <ul class="ul">
      {% for message in room.prefetched_messages %}
        <p>
          <li>
            <strong id="message">Message:</strong><br />{{ message.text }} <br />
            <strong>User:</strong> {{ message.user.username }}<br />
            <strong>Created:</strong> {{ message.created }}
            <hr />
          </li>
        </p>
      {% endfor %}
    </ul>
  {% endfor %}
</body>
<style>
  .body-choice-chat {
    width: 20vw;
  }
  #message {
    font-size: 25px;
  }
  .ul {
    background-color: #f0f0f0;
  }
</style>
