<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% comment %} {% include 'wrapper/aside.html' %} {% endcomment %}
  <body class="body">
    {% comment %} <form id="search-form">
      <input type="search" autocomplete="off" name="q" id="search-input" placeholder="Найти чат" value="" />
      <button type="submit">Search</button>
    </form> {% endcomment %}

    <div class="box">
      <div class="menu">
        {% include 'menu.html' %}
      </div>
      <span></span>
      {% if request.user.is_authenticated %}
        <div class="chat">
          {% include 'choce_chat.html' %}
        </div>
      {% endif %}

      <div class="content">
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </body>
  <style>
    .content {
      width: 90%;
    }
    .body {
      padding: 0.3em;
      background-color: antiquewhite;
      display: flex;
      block-size: auto;
      border: 1px solid black;
      width: 90%;
    }
    .menu {
      padding: 0.3em;
      border: 1px solid black;
    }
  </style>
</html>
