{% extends 'main.html' %}
{% block content %}
  <body class="body_rooms">
    {{ room.id }}
    {{ room.name }}

    <div id="list_rooms"></div>
    <div class="chatlog"></div> <br />
    <input id="chat-message-input" type="text" size="30" /><br />
    <input id="chat-message-submit" type="button" value="Send" />

    <button><div id="roomId">{{ room.id }}</div></button>

    <style>
      #chat-log {
        font-size: 20px;
        color: brown;
      }
    </style>
    <script>
        const textarea = document.querySelector('.chatlog')
        let userId = "{{request.user.id}}"
      const url = `ws://${window.location.host}/ws/v2/chat/{{room.id}}/page/{{num}}?user_id=${userId}`
      {% comment %} const url = `ws://${window.location.host}/ws/v2/chat/{{room.id}}/` {% endcomment %}
      const chatSocket = new WebSocket(url)
      chatSocket.onmessage = async (e)=>{
        const data = e.data
        console.log(data)
        if (data.message == undefined) {
          textarea.innerHTML += data
        } else {
          textarea.innerHTML += data.message + data
        }
       // textarea.innerHTML += data.message + data
        //textarea.innerHTML += data.message + data

      }

        chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly')
      }
      
      document.querySelector('#chat-message-input').focus()
      document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.key === 'Enter') {
          // enter, return
          document.querySelector('#chat-message-submit').click()
        }
      }
      
      document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input')
        const message = messageInputDom.value
        chatSocket.send(
          JSON.stringify({
            message: message
          })
        )
        console.log(messageInputDom.value)
        messageInputDom.value = ''
      }
    </script>
  </body>

  <style>
    .chatlog{
        padding: 0.5vw;
        width: 50vw;
        min-width: 200px;
        min-height: 200px;
        background-color: white;
        border-radius: 5px;
    }
  </style>
{% endblock %}
